#searchButton{
    width: 8%;
    height: 30px;
    background: gold;
    cursor: pointer;

}
#loginButton{
    width: 4%;
    height: 30px;
    background: gold;
    cursor: pointer;

}

#headText{
    margin-top:4cm;
    text-align: center;
    color: black;
}

#subText{
    text-align: center;
    color: white;
}

#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    height: auto;
   
}
#logo{
    float:left;
    max-width: 8%;
    height: auto;
}

#loginBox{
   
    width: 10%;
    height: 25px;
}
#searchBox{
    
    width: 20%;
    height: 25px;
}
#login{
    vertical-align: top;
    text-align: right;
    margin-right: 1cm;
}
#register{
    display: inline-block;
    height: auto;
    color: white;
}
#pageTop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: rgb(0, 0, 0);
}

#pageBottom {
    background-color: black;
}

body{
    background-color: gold;
}

